extends header

block content
  #page-container
    #content-wrap
      .w3-container
        br
        .w3-card-4(style="width:40%; margin:auto; overflow:hidden")
          .w3-container.w3-center.main-color
            h1 Criar Inquirição
          br
          .w3-container
            form.w3-container(action="/createInquiry" method="POST" enctype='multipart/form-data')
              label #[b Imagem de inquérito: ]
              input.w3-input(type="file" name="inquiryPic" accept="image/*")
              br
              label #[b Titular *: ]
              input.w3-input.w3-border.w3-hover-border-black(type="text" name="UnitTitle" required)
              br
              label #[b Filiações: ]
              .w3-container(id='affiliationsContainer')
                .w3-container.w3-center(id="addAffiliationBtn")
                  button.colored.main-button(type="button" onclick="addAffiliationForm()") + Adicionar afiliação
              label #[b Data de nascimento: ]
              input.w3-input.w3-border.w3-hover-border-black(type="date" name="birthdate" max=today)
              br
              label #[b Local de nascimento: ]
              input.w3-input.w3-border.w3-hover-border-black(type="text" name="birthplace")
              br
              label #[b Concelho de residência: ]
              input.w3-input.w3-border.w3-hover-border-black(type="text" name="current_concelho")
              br
              label #[b Distrito de residência: ]
              input.w3-input.w3-border.w3-hover-border-black(type="text" name="current_district")
              br
              label #[b País: ]
              input.w3-input.w3-border.w3-hover-border-black(type="text" name="country")
              br
              label #[b Laços Pessoais: ]
              br
              .w3-container(id='relationsContainer')
                .w3-container.w3-center(id="addRelationBtn")
                  button.colored.main-button(type="button" onclick="addRelationForm()") + Adicionar relação
              br
              label #[b Data de produção inicial *: ]
              input.w3-input(type="date" name="UnitDateInitial" max=today required)
              br
              label #[b Data de produção final *: ]
              input.w3-input(type="date" name="UnitDateFinal" max=today  required)
              br
              label #[b Repositório: ]
              input.w3-input.w3-border.w3-hover-border-black(type="text" name="Repository")
              br
              label #[b Localização física: ]
              input.w3-input.w3-border.w3-hover-border-black(type="text" name="PhysLoc")
              br
              label #[b Localização anterior: ]
              input.w3-input.w3-border.w3-hover-border-black(type="text" name="PreviousLoc")
              br
              label #[b Material relacionado: ]
              input.w3-input.w3-border.w3-hover-border-black(type="text" name="RelatedMaterial")
              br
              label #[b Escopo de conteúdo: ]
              textarea.w3-input.w3-border.w3-hover-border-black(name="ScopeContent")
              br
              label #[b Nota: ]
              input.w3-input.w3-border.w3-hover-border-black(type="text" name="Note")
              br
              input.colored.main-button.w3-right(type="submit" name="submit" value="Submeter") 
              a.colored.main-button(name="cancel" href='/') Cancelar
              br
              br
      br

    footer.main-color
      address Inquirições de Genere - RPCW  #{d} | #[a(href="/") Voltar]
