extends layout
        
append scripts
    script(src='/javascripts/basics.js')

append styles
    link(rel='stylesheet', href='/stylesheets/basics.css')

block head
    body
      .w3-card-4
        header.w3-container.w3-teal
            .w3-row
                if username
                    .w3-col
                        h1 User : #{username}
                    .w3-col
                        a(href="/users/profile") Profile

                if (logged === false || !logged)
                    .w3-col
                        a(href="/users/login") Login
                if logged === true
                    .w3-col 
                        a(href="/users/logout") Logout
                if (logged === false || !logged)
                    .w3-col
                        a(href="/users/register") Register
                if logged === true
                    .w3-col 
                        a.notification.collapsible
                            span Notificações
                            span.badge(id="nNotifications" style="display:none") 0
                        .content.w3-blue(id='notificationsContent')

    script.
        getNotifications()

        var coll = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
            content.style.display = "none";
            } else {
            content.style.display = "block";
            }
        });
        }



