extends layout
        
append scripts
    script(src='/javascripts/basics.js')

append styles
    link(rel='stylesheet', href='/stylesheets/basics.css')

block head
    body
      .w3-card-4
        header.w3-container.w3-teal
            .w3-row
                if username
                    .w3-col
                        h1 User : #{username}
                    .w3-col
                        a(href="/users/profile") Profile

                if (logged === false || !logged)
                    .w3-col
                        a(href="/users/login") Login
                if logged === true
                    .w3-col 
                        a(href="/users/logout") Logout
                if (logged === false || !logged)
                    .w3-col
                        a(href="/users/register") Register
                if logged === true
                    .w3-col 
                        a.notification.collapsible
                            span Notificações
                            span.badge(id="nNotifications" style="display:none") 0
                        .content.w3-blue(id='notificationsContent')
                .w3-col
                    .w3-container.collapsible
                        p Procurar inquérito
                    .w3-container.content(id='searchBar')
                        input(type="search" name="searchName" placeholder="Procura por nome de titular")
                        input(type="search" name="searchPlace" placeholder="Procura por localidade")
                        Label Limite Inferior:
                        input(type="date"  name="searchTimeStart" id='dateId' onchange="verifyPeriod()" value=timeStartValue placeholder="Procura por periodo")
                        Label Limite Superior:
                        input(type="date"  name="searchTimeEnd" id='dateId' onchange="verifyPeriod()" value=timeEndValue placeholder="Procura por periodo")
                        p(id='searchMessage' style='none')
                    button.w3-btn.w3-indigo(type="button" id="searchBtn" onclick="search()") search
                            
    if(logged === true)
        script.
            getNotifications()
            
    script.
        verifyPeriod()
        dateId.max = new Date().toISOString().split("T")[0]


        var coll = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
            content.style.display = "none";
            } else {
            content.style.display = "block";
            }
        });
        }



