extends layout

block content
  .w3-card-4 
    header.w3-container-w3-teal
      h1 Inquirições
      p Podes fazer as seguintes operações:
        ul.w3-ul
          li 
            a(href="/users/login") Login
          li 
            a(href="/users/logout") Logout
          li
            a(href="/users/register") Register
          li
            a(href="/protegida") Only for authorized users

    .w3-container
      table.w3-table-all
        tr
          th ID 
          th _ID
          th
        each i in is
          tr
            td=i.ID 
            td=i._id
            td
              a(href="/inquiry/"+i._id) Inquirição
