doctype html
html
  head
    title= title
    block scripts

    block styles
      link(rel='stylesheet', href='/stylesheets/w3.css')
      link(rel='stylesheet', href='/stylesheets/basics.css')
      link(rel="icon" type="image/x-icon" href="/images/default/favicon.png")
      
    body

    block head
    block content
