extends layout 

block content
    .w3-container
        .w3-card-4(style="width:40%; margin:auto")
            .main-color.w3-center
                h1 Formulário de Login

            form.w3-container(action="/users/login" method="POST")
                w3.section 
                    label #[b Email]
                    input.w3-input.w3-border.w3-hover-border-black.w3-margin-bottom(type="text" name="email" required)

                    label #[b Password]
                    input.w3-input.w3-border.w3-hover-border-black(type="password" name="password" required)

                input.main-button.colored.main-color.w3-section(type="submit" value="Login" style="width:100%")
            .w3-container.w3-center.w3-border-top.w3-padding-16.w3-light-grey
                a.w3-center.login-with-google-btn(href='login/google') Autenticação com google
                hr
                a.w3-center.login-with-fb-btn(href='login/facebook') Autenticação com facebook
            .w3-container.w3-padding-16.w3-light-grey
                if error
                    span.w3-left.w3-padding.w3-hide-small(style="color:red") #[b Erro na autenticação do utilizador]
                span.w3-right.w3-padding.w3-hide-small Ainda não estás registado? #[a(href="register") Regista-te aqui]
    br
    footer.main-color.w3-center
        address Inquirições de Genere - RPCW  #{d} | #[a(href="/") Voltar]