extends layout 
block content 
    header.w3-indigo 
        h1 Autenticação básica com nodejs 
        h2 Protected Area 
        h3 Olá #{u.name}
    .w3-container 
    p Atingiste a área protegida, muito bem.
    p Podes voltar atrás 
        ul.w3-ul 
            li 
                a(href="users/login") Login
            li 
                a(href="users/logout") Logout
            li
                a(href="users/register") Register
            li 
                a(href="/") Home Page
    