  /* Style the collapsible content. Note: hidden by default */
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    width: 50%;
    position: absolute;
    z-index: 1;
  }

  .notification .badge {
    position: absolute;
    bottom: -5px;
    right: -5px;
    width: 25px;
    height: 25px;
    font-size: 12px;
    padding: 5px;
    background: red;
    border-radius: 50%;
    color: white;
    z-index: 2;
  }

  .notification {
    position: relative;
    display: inline-block;
    overflow: visible;
  }

  .overflow{
    overflow: visible;
  }

  .search-inputs{
    margin-bottom:10px;
  }

  .not {
    border: 1px solid black;
    padding: 10px;
    cursor: pointer;
  }
  
  .not p {
    margin: 5px 0;
  }
  
  .not button {
    margin-top: 10px;
  }

  #page-container {
    position: relative;
    min-height: 100vh;
  }
  
  #content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
  }
  
  footer {
    display: flex;
    align-items: center; /* Align items vertically */
    justify-content: center; /* Align items horizontally */
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            /* Footer height */
  }

  .main-color{
    background-color: #7F1610;
    color: white;
  }

  .main-color-hover:hover{color:#fff!important;background-color:#7F1610!important}

  .main-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
  .main-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
  .main-button:disabled{cursor:not-allowed;opacity:0.3}
  .w3-bar .main-button{white-space:normal}
  .main-button:hover{color:#fff!important;background-color:#74150f!important}

  .colored.main-button{
    color:#fff!important;background-color:#7F1610!important
  }

  .colored.main-button:hover{color:#fff!important;background-color:#74150f!important}

  .profile-picture{
    vertical-align: middle;
    width: 250px;
    height: 250px;
    border-radius: 50%;
  }

  .profile-picture-post{
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }