  /* Style the collapsible content. Note: hidden by default */
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    width: 50%;
    position: absolute;
    z-index: 1;
  }

  .notification .badge {
    position: absolute;
    bottom: -5px;
    right: -5px;
    width: 25px;
    height: 25px;
    font-size: 12px;
    padding: 5px;
    background: red;
    border-radius: 50%;
    color: white;
    z-index: 2;
  }

  .notification {
    position: relative;
    display: inline-block;
    overflow: visible;
  }

  .overflow{
    overflow: visible;
  }

  .search-inputs{
    margin-bottom:10px;
  }

  .not {
    border: 1px solid black;
    padding: 10px;
    cursor: pointer;
  }
  
  .not p {
    margin: 5px 0;
  }
  
  .not button {
    margin-top: 10px;
  }