  /* Style the collapsible content. Note: hidden by default */
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }

  .notification .badge {
    position: absolute;
    bottom: -5px;
    right: -5px;
    width: 25px;
    height: 25px;
    font-size: 12px;
    padding: 5px;
    background: red;
    border-radius: 50%;
    color: white;
  }

  .notification {
    position: relative;
    display: inline-block;
    overflow: visible;
  }

  .overflow{
    overflow: visible;
  }